<%# Display the comment with " said:" appended to user's email; provide delete button if current user's comment %>
<li class="collection-item">
  <div class="comment-header">
    <div class="comment-info">
      <div class="comment-avatar">
        <%= image_tag user_avatar(comment.user), class: 'avatar' %>
      </div>
      <%# Put "You said:" only if current user's comment %>
      &nbsp;&nbsp;<strong><%= comment.user == current_user ? "You" : comment.user.username %></strong>&nbsp;said:
    </div>
    <% if current_user == comment.user %>
      <%= link_to 'DELETE', [comment.topic, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "comment-delete" %>
    <% end %>
  </div>
  <div class="show-whitespace">
    <p><%= comment.body %></p>
  </div>
  <div class="right-align">
    Posted on <%= comment.created_at.strftime("%m/%d/%Y at %H:%M %Z") %>
  </div>
</li>
