<%# Create a comment form for a specific topic, with placeholders %>
<%= form_with model: [@topic, @topic.comments.build] do |form| %>
  <div class="field input-field">
    <%= form.label :body %>
    <%= form.text_area :body, class: "materialize-textarea", rows: "4" %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field input-field">
    <%= form.submit "Submit", class: "btn light-blue accent-4" %>
  </div>
<% end %>
