<%# Create a form for topic that has placeholders %>
<%= form_with model: topic do |form| %>
  <div class="field input-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field input-field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "materialize-textarea", rows: "4", "data-length": "140", maxlength: "140" %>
  </div>

  <div class="field input-field">
    <%= form.submit "Submit", class: "btn light-blue accent-4" %>
  </div>
<% end %>
