<%# Display the topic and give the option to edit and delete it %>
<div class="card card-top-spacer">
  <div class="card-content">
    <div class="topic-header">
      <span class="card-title title-overflow"><strong>Title:</strong> <%= @topic.title %></span>
      <% if current_user == @topic.user %>
        <div>
          <%= link_to edit_topic_path(@topic), class: 'btn waves-effect waves-light light-blue accent-4' do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to topic_path(@topic), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn red waves-effect waves-light accent-2' do %>
            <i class="material-icons">delete</i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="topic-description">
      <p><%= @topic.description %></p>
    </div>
    <div class="right-align">
      Posted on <%= @topic.created_at.strftime("%m/%d/%Y at %H:%M %Z") %> by <strong><%= @topic.user == current_user ? "you" : @topic.user.username %></strong>
    </div>
  </div>
</div>

<%# Check if there are any comments for this post %>
<% if @topic.comments.empty? %>
  <%# If the comments array is empty, make user aware with a card %>
  <div class="card">
    <div class="card-content">
      <span class="card-title center-align bold">No comments yet...</span>
    </div>
  </div>
<% else %>
  <%# If there are comments, display all the comments %>
  <div class="card">
    <div class="collection">
      <%# Renders each comment one by one using the partial expansion feature;
      It's like rendering comments/comment.html.erb with each comment as the param %>
      <%= render @topic.comments %>
    </div>
  </div>
<% end %>

<%# New comment form rendered in a card %>
<div class="card-panel">
  <div class="card-content">
    <span class="card-title">Add comment</span>
  </div>
  <%= render "comments/form" %>
</div>

<%# Adds a back button at the bottom that takes user back to the topic page %>
<div class="center-align back-btn">
  <%= link_to "Back", topics_path, class: 'btn waves-effect waves-light light-blue accent-4' %>
</div>
