<%# Render the user's home screen if they are logged in %>
<% if current_user %>

  <%# Show user's info %>
  <div class="card-panel card-top-spacer">
    <%= image_tag user_avatar(current_user), class: 'circle' %>
  </div>
  <%# Show user that there are no topics if there aren't any %>
  <% if @recent_topics.empty? %>
    <div class="card-panel card-top-spacer">
      <p>No posts on site...</p>
    </div>
  <% else %>
    <%# Otherwise, list recent topics on site %>
    <div class="collection">
      <li class="collection-item collection-header topic-list-header center-align">
        <h4 class="bold">Recent Topics</h4>
      </li>
      <%# Goes thru each topic and creates a clickable link %>
      <% @recent_topics.each do |topic| %>
        <%= link_to topic, class: "collection-item" do %>
          <%= topic.title %>
          <div class="right-align">
            Posted on <%= topic.created_at.strftime("%m/%d/%Y at %H:%M %Z") %> by <strong><%= topic.user.email %></strong>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%# Show user that they haven't posted anything if they haven't %>
  <% if @user_topics.empty? %>
    <div class="card-panel card-top-spacer">
      <p>You haven't made any posts yet...</p>
    </div>
  <% else %>
    <%# Otherwise, list their recently created topics %>
    <div class="collection">
      <li class="collection-item collection-header topic-list-header center-align">
        <h4 class="bold"><%= current_user.email %>'s Topics</h4>
      </li>
      <%# Goes thru each topic and creates a clickable link %>
      <% @user_topics.each do |topic| %>
        <%= link_to topic, class: "collection-item" do %>
          <%= topic.title %>
          <div class="right-align">
            Posted on <%= topic.created_at.strftime("%m/%d/%Y at %H:%M %Z") %> by <strong><%= topic.user.email %></strong>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

<%# Render the welcome screen if user is not signed in %>
<% else %>

  <div class="card-panel card-top-spacer center-align">
    <h1>Welcome!</h1>
    <p class="welcome-subtitle">You need to either log in or sign up for a new account to start using this app.</p>
    <div class="container center-align welcome-btns">
      <%= link_to "Log In", new_user_session_path, class: "welcome-btn-left btn waves-effect waves-light light-blue accent-4" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "welcome-btn-right btn waves-effect waves-light" %>
    </div>
  </div>

<% end %>
