<%# Render the user's home screen if they are logged in %>
<% if current_user %>

  <%# Show user's info %>
  <div class="card-panel card-top-spacer card-bottom-spacer">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="row center-align">
          <div class="avatar-container manual-center homepage-avatar-size">
            <%= image_tag user_avatar(current_user), class: 'avatar' %>
          </div>
        </div>
        <div class="row center-align">
          <strong><%= current_user.username %></strong>
        </div>
      </div>
      <div class="col s12 m6 l6 profile-info">
        <div class="row profile-item">
          <strong>Email:</strong> <%= current_user.email %>
        </div>
        <div class="row profile-item">
          <strong>Total Posts:</strong> <%= current_user.topics.count %>
        </div>
        <div class="row profile-item">
          <strong>Total Comments:</strong> <%= current_user.comments.count %>
        </div>
        <div class="row profile-item">
          <strong>Member Since:</strong> <%= current_user.created_at.strftime("%m/%d/%Y") %>
        </div>
      </div>
    </div>
  </div>
  <%# Show user that there are no topics if there aren't any %>
  <% if @recent_topics.empty? %>
    <div class="card-panel card-top-spacer">
      <p>No posts have been made yet...</p>
    </div>
  <% else %>
    <%# Otherwise, list recent topics on site %>
    <div class="collection">
      <li class="collection-item collection-header topic-list-header center-align">
        <h5 class="bold">Recent Topics</h5>
      </li>
      <%# Goes thru each topic and creates a clickable link %>
      <% @recent_topics.each do |topic| %>
        <%= link_to topic, class: "collection-item" do %>
          <div class="title-overflow">
            <%= topic.title %>
          </div>
          <div class="post-info">
            Posted on <%= topic.created_at.strftime("%m/%d/%Y at %H:%M %Z") %> by&nbsp;<strong><%= topic.user == current_user ? "you" : topic.user.username %></strong>&nbsp;&nbsp;
            <div class="post-info-avatar">
              <%= image_tag user_avatar(topic.user), class: 'avatar' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# Link to all posts %>
      <%= link_to topics_path, class: 'collection-item' do %>
        <div class="view-all-link">
          <span>View All</span>
          <i class="material-icons">chevron_right</i>
        </div>
      <% end %>
    </div>
  <% end %>
  <%# Show user that they haven't posted anything if they haven't %>
  <% if @user_topics.empty? %>
    <div class="card-panel card-top-spacer card-bottom-spacer">
      <p>You haven't made any posts yet...</p>
    </div>
  <% else %>
    <%# Otherwise, list their recently created topics %>
    <div class="collection card-bottom-spacer">
      <li class="collection-item collection-header topic-list-header center-align">
        <h5 class="bold"><%= current_user.username %>'s Topics</h5>
      </li>
      <%# Goes thru each topic and creates a clickable link %>
      <% @user_topics.each do |topic| %>
        <%= link_to topic, class: "collection-item" do %>
          <div class="title-overflow">
            <%= topic.title %>
          </div>
          <div class="right-align">
            Posted on <%= topic.created_at.strftime("%m/%d/%Y at %H:%M %Z") %>
          </div>
        <% end %>
      <% end %>
      <%# Link to all posts %>
      <%= link_to topics_path('user_topics': true), class: 'collection-item' do %>
        <div class="view-all-link">
          <span>View All</span>
          <i class="material-icons">chevron_right</i>
        </div>
      <% end %>
    </div>
  <% end %>

<%# Render the welcome screen if user is not signed in %>
<% else %>

  <div class="card-panel card-top-spacer center-align">
    <h1>Welcome!</h1>
    <p class="welcome-subtitle">You need to either log in or sign up for a new account to start using this app.</p>
    <div class="container center-align welcome-btns">
      <%= link_to "Log In", new_user_session_path, class: "welcome-btn-left btn waves-effect waves-light light-blue accent-4" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "welcome-btn-right btn waves-effect waves-light" %>
    </div>
  </div>

<% end %>
